<dialog id="creds_modal" class="modal modal-middle">
  <div class="modal-box min-w-3/12 w-auto">
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h3 class="text-lg font-bold mb-4 border-b-white border-b-2">
        @if (isLogIn) {
            Log In
        }
        @else {
            Sign Up
        }
    </h3>

    <form class="flex flex-col justify-center align-middle">
        <input type="text" placeholder="Username" class="input mb-3 w-full" [formField]="credsForm.userName"/>
        <input type="password" placeholder="Password" class="input w-full mb-2" [formField]="credsForm.password"/>
        <a href="" class="text-sm text-gray-400 hover:text-purple-400 mb-8">Forgot password?</a>
        <button type="submit" class="btn w-full text-base text-white bg-purple-400 hover:bg-purple-600 disabled:bg-gray-400" 
        (click)="isLogIn ? login() : signup()">Proceed</button>
    </form>

    <div class="mt-4 text-center">
        <span class="text-sm">
            {{ isLogIn ? "Don't have an account?" : "Already have an account?" }}
        </span>
        <button 
            type="button" 
            class="btn btn-link pl-0 text-purple-400 hover:text-purple-600" 
            (click)="isLogIn = !isLogIn">
            {{ isLogIn ? "Sign Up" : "Log In" }}
        </button>
    </div>

    <div class="modal-action h-0 m-0">
        <form method="dialog" class="modal-backdrop">
            <button>close</button>
        </form>
    </div>
  </div>
</dialog>
